.box-1 {
  box-sizing: border-box;
  background: #42a5f5;
  border: 1px solid #0d47a1;
  padding: 10px;
}

.box-3 {
  box-sizing: border-box;
  background: #42a5f5;
  border: 1px solid #0d47a1;
  padding: 10px;
  width: 25%;
}

/* EXERCICE SMACCS */

.l-header {
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.l-main {
  padding: 50px 0;
}

.l-footer {
  background: #000;
}

/* EXERCICE SMACCS */
